.pricing-block {
    padding-top: 57px;
    h3 {
        margin-left: 1px;
        margin-bottom: 11px;
    }
    h2 {
        padding-bottom: 30px;
    }
    .pricing-table {
        margin-top: 70px;
        text-align: center;
        margin-left: -1px;
        .pricing-item {
            &:nth-child(1) {
                margin-right: 27px;
            }
            &:nth-child(2) {
                margin-right: 28px;
            }
            &:nth-child(3) {
                margin-right: 28px;
            }

            border: 1px solid #e0e0e0;
            display: grid;
            grid-template-rows: 70px 151px 269px;
            min-width: 272px;
            max-width: 272px;
            p {
                margin-bottom: 0;
            }
            .pricing-name-wrapper {
                width: 100%;
                height: 100%;
                border-bottom: 1px solid #e0e0e0;
                display: flex;
            }
            .pricing-name {
                margin: auto auto;
                font-size: 24px;
                line-height: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #1a1a1a;
            }
            .pricing-sum-wrapper {
                width: 100%;
                height: 100%;
                border-bottom: 1px solid #e0e0e0;
                display: flex;
            }
            .pricing-sum {
                margin: 17px 0 0 90px;
                font-size: 60px;
                .currency {
                    font-size: 28px;
                    font-weight: 600;
                    color: #1a1a1a;
                    vertical-align: 19px;
                }
                .amount {
                    font-size: 60px;
                    font-weight: 600;

                }
                .per {
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    color: #999999;
                    margin-top: -17px;
                    transform: translate(2px, 1px);
                }
            }
            .pricing-desc-or {
                margin-top: 45px;
            }
            .pricing-description{
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
                color: #999999;
                padding: 0 30px;
                margin-bottom: 40px;
            }
            .btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                line-height: 48px;
                font-weight: 700;
                text-transform: uppercase;
                color: #008ed6;
                width: 162px;
                height: 52px;
                background-color: #ffffff;
                border: 1px solid #e0e0e0;;
                &:hover {
                    color: #fff;
                    background-color: #008ed6;
                    box-shadow: 0px 0px 3px 0px rgba(3,3,3,0.1);
                }
            }
        }
    }
}