@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.row {
  margin: 0;
}

.col,
[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 15px 0 15px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  color: #008ed6;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
  background-image: linear-gradient(to right, #008ed6 47%, transparent 47%, transparent 53%, #008ed6 53%);
  background-position: bottom;
  background-size: 42px 2px;
  background-repeat: no-repeat;
}

header {
  overflow: hidden;
  position: relative;
}
header::after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  z-index: -1;
  background: url(/img/header_photo.png) no-repeat;
  background-size: cover;
}
header::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -2;
  background-color: #15141a;
  background-image: linear-gradient(135deg, rgba(21, 20, 26, 0.4) 19%, rgba(21, 20, 26, 0) 80%);
}
header #menu-toggle {
  display: none;
}
header #menu-toggle:checked ~ .menu-icon .bars {
  background-color: transparent;
}
header #menu-toggle:checked ~ .menu-icon .bars::before {
  transform: rotate(-45deg);
  top: 0;
}
header #menu-toggle:checked ~ .menu-icon .bars::after {
  transform: rotate(45deg);
  top: 0;
}
header #menu-toggle:checked ~ .nav-menu {
  display: block;
  transform: translate(-100%, 0%);
}
header .menu-icon {
  z-index: 3;
  display: none;
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
header .menu-icon .close-me-plz {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0%;
  right: 0%;
  background: transparent;
  width: 100%;
  height: 100%;
}
header .menu-icon:focus .bars {
  background-color: transparent;
}
header .menu-icon:focus .bars::before {
  transform: rotate(-45deg);
  top: 0;
}
header .menu-icon:focus .bars::after {
  transform: rotate(45deg);
  top: 0;
}
header .menu-icon:focus .close-me-plz {
  display: block;
}
header .menu-icon:focus ~ .nav-menu {
  display: block;
  transform: translate(-100%, 0%);
}
header .menu-icon .bars {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 23px;
}
header .menu-icon .bars::before, header .menu-icon .bars::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
header .menu-icon .bars::before {
  top: 7px;
}
header .menu-icon .bars::after {
  top: -7px;
}
header .container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
header .nav-menu {
  transition: transform 0.6s ease-in-out;
  text-align: right;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  color: #fffefe;
  transform: none;
}
header .nav-menu ul {
  margin: 0;
  padding: 0;
}
header .nav-menu li {
  margin-left: 20px;
  list-style: none;
  display: inline;
  padding-bottom: 10px;
}
header .nav-menu li:hover {
  background-image: linear-gradient(to right, #008ed6 47%, transparent 47%, transparent 53%, #008ed6 53%);
  background-position: bottom;
  background-size: 42px 2px;
  background-repeat: no-repeat;
}
header .logo .ld {
  font-family: "Quicksand";
  font-size: 24px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
header .logo .ot {
  opacity: 0.3;
  font-size: 9px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #ffffff;
  display: inline-block;
  width: 50px;
}
header .header-block {
  margin-top: 43px;
  flex: 1 1 auto;
}
header .header-block .introduce h3 {
  margin-top: 38px;
  text-align: unset;
}
header .header-block .introduce h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 47px;
  margin-top: 24px;
}
header .header-block .introduce span {
  margin-top: 24px;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
}
header .header-block .introduce .btn {
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  height: 50px;
  margin-right: 17px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-block .introduce .btn:hover {
  background-color: #008ed6;
  box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}
header .header-block .header-pic {
  text-align: right;
}
header .header-block .header-pic img {
  margin-right: -14px;
  margin-top: 0px;
}

.product-overview-block {
  padding-bottom: 70px;
  border-bottom: 2px solid #ededed;
  padding-top: 62px;
}
.product-overview-block h2 {
  margin-top: 10px;
  padding-bottom: 37px;
}
.product-overview-block h2, .product-overview-block h3 {
  text-align: center;
}
.product-overview-block .features {
  margin-top: 73px;
}
.product-overview-block .features .features-item {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.product-overview-block .features .features-item:nth-child(1) {
  padding-left: 19px;
  padding-right: 42px;
}
.product-overview-block .features .features-item:nth-child(2) {
  padding-left: 26px;
  padding-right: 34px;
}
.product-overview-block .features .features-item:nth-child(3) {
  padding-left: 33px;
  padding-right: 27px;
}
.product-overview-block .features .features-item:nth-child(4) {
  padding-left: 40px;
  padding-right: 19px;
}
.product-overview-block .features .features-item .features-img {
  position: relative;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}
.product-overview-block .features .features-item .features-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.product-overview-block .features .features-item p {
  margin-top: 34px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  color: #1a1a1a;
}
.product-overview-block .features .features-item span {
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  display: block;
}

.beautiful-block {
  padding-top: 65px;
  padding-bottom: 19px;
}
.beautiful-block .image {
  text-align: left;
  padding-right: 0px;
}
.beautiful-block .image img {
  margin-left: 20px;
}
.beautiful-block .text {
  padding-top: 51px;
  padding-left: 15px;
}
.beautiful-block .text h3 {
  margin-bottom: 10px;
}
.beautiful-block .text h2 {
  padding-bottom: 27px;
  background-position: left bottom;
}
.beautiful-block .text p {
  margin-top: 25px;
  padding-right: 95px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
}
.beautiful-block .text ul {
  padding-left: 0px;
}
.beautiful-block .text ul li {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #1b1b1b;
}
.beautiful-block .text ul li:nth-child(1) {
  padding-left: 25px;
  list-style: none;
  background: url(/img/icons/cup.png) no-repeat left;
}
.beautiful-block .text ul li:nth-child(2) {
  padding-left: 25px;
  list-style: none;
  background: url(/img/icons/mouse.png) no-repeat;
  background-position: 3px 50%;
}
.beautiful-block .text ul li:nth-child(3) {
  padding-left: 25px;
  list-style: none;
  background: url(/img/icons/energy.png) no-repeat;
  background-position: 3px 50%;
}
.beautiful-block .text ul li:nth-child(4) {
  padding-left: 25px;
  list-style: none;
  background: url(/img/icons/speedometer.png) no-repeat left;
}
.beautiful-block .text * {
  text-align: left;
}

.superez-block {
  background-color: #f2f2f2;
  padding-top: 33px;
  padding-bottom: 19px;
}
.superez-block .image {
  text-align: left;
  padding-right: 0px;
}
.superez-block .image img {
  margin-left: -17px;
}
.superez-block .text {
  margin-top: 98px;
  padding-left: 0px;
}
.superez-block .text * {
  text-align: left;
}
.superez-block .text h3 {
  margin-bottom: 10px;
}
.superez-block .text h2 {
  padding-bottom: 28px;
  background-position: left bottom;
}
.superez-block .text p {
  margin-top: 26px;
  padding-right: 10px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
}

.comments-block {
  background: url(/img/prostokat.png) no-repeat;
  background-size: cover;
  height: 640px;
}
.comments-block .container {
  padding-top: 63px;
}
.comments-block .container .owl-stage-outer {
  margin-top: 87px;
  min-height: 301px;
}
.comments-block .container .owl-stage-outer .owl-item {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  padding-right: 20px;
}
.comments-block .container .owl-stage-outer .owl-item p {
  margin-bottom: 0;
}
.comments-block .container .owl-stage-outer .owl-item .item-text {
  font-style: italic;
  margin-bottom: 22px;
}
.comments-block .container .owl-stage-outer .owl-item .user {
  display: flex;
  align-items: center;
  margin-left: 1px;
}
.comments-block .container .owl-stage-outer .owl-item .user-avatar, .comments-block .container .owl-stage-outer .owl-item .user-np-w {
  display: inline-block;
  margin-right: 24px;
}
.comments-block .container .owl-stage-outer .owl-item .user-np-w {
  height: 59px;
}
.comments-block .container .owl-stage-outer .owl-item .user-name {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.comments-block .container .owl-stage-outer .owl-item .user-position {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
}
.comments-block .container .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  border: 3px solid transparent;
  background: none;
  opacity: 1;
  margin: 5px 8px;
}
.comments-block .container .owl-dots .owl-dot span:hover {
  background: #fff;
  border-color: #fff;
}
.comments-block .container .owl-dots .owl-dot.active span {
  background: #fff;
  border-color: #fff;
}
.comments-block h2 {
  margin-top: 10px;
  color: #ffffff;
  padding-bottom: 31px;
}

.ad-block {
  background-color: #15141a;
}
.ad-block .container {
  padding: 60px 0;
  height: 100%;
  display: flex;
}
.ad-block .container p {
  display: inline-block;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin: auto 0;
  margin-right: auto;
}
.ad-block .container p span:nth-child(1) {
  font-weight: 600;
}
.ad-block .container p span:nth-child(2) {
  font-weight: 300;
}
.ad-block .container .buttons {
  margin: auto 0;
  margin-left: auto;
}
.ad-block .container .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.ad-block .container .btn:hover {
  background-color: #008ed6;
  box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}
.ad-block .container .btn:first-child {
  margin-right: 17px;
}

.pricing-block {
  padding-top: 57px;
  padding-bottom: 60px;
}
.pricing-block h3 {
  margin-left: 1px;
  margin-bottom: 11px;
}
.pricing-block h2 {
  padding-bottom: 30px;
}
.pricing-block .pricing-table {
  margin-top: 70px;
  text-align: center;
  margin-left: -1px;
  row-gap: 20px;
}
.pricing-block .pricing-table [class^=col] {
  display: flex;
  justify-content: left;
}
.pricing-block .pricing-table [class^=col]:nth-child(2) {
  padding-left: 6px;
}
.pricing-block .pricing-table [class^=col]:nth-child(3) {
  padding-left: 13px;
}
.pricing-block .pricing-table [class^=col]:nth-child(4) {
  padding-left: 21px;
}
.pricing-block .pricing-table .pricing-item {
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-rows: 70px 151px 269px;
  min-width: 272px;
  max-width: 272px;
}
.pricing-block .pricing-table .pricing-item p {
  margin-bottom: 0;
}
.pricing-block .pricing-table .pricing-item .pricing-name-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}
.pricing-block .pricing-table .pricing-item .pricing-name {
  margin: auto auto;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1a1a1a;
}
.pricing-block .pricing-table .pricing-item .pricing-sum-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}
.pricing-block .pricing-table .pricing-item .pricing-sum {
  margin: 17px 0 0 90px;
  font-size: 60px;
}
.pricing-block .pricing-table .pricing-item .pricing-sum .currency {
  font-size: 28px;
  font-weight: 600;
  vertical-align: 19px;
}
.pricing-block .pricing-table .pricing-item .pricing-sum .amount {
  font-size: 60px;
  font-weight: 600;
}
.pricing-block .pricing-table .pricing-item .pricing-sum .per {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin-top: -17px;
  transform: translate(2px, 1px);
}
.pricing-block .pricing-table .pricing-item .pricing-desc-or {
  margin-top: 45px;
}
.pricing-block .pricing-table .pricing-item .pricing-description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
  padding: 0 30px;
  margin-bottom: 40px;
}
.pricing-block .pricing-table .pricing-item .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
  width: 162px;
  height: 52px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}
.pricing-block .pricing-table .pricing-item .btn:hover {
  color: #fff;
  background-color: #008ed6;
  box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}
.pricing-block .pricing-table .pricing-item:hover .pricing-name {
  color: #008ed6;
}
.pricing-block .pricing-table .pricing-item:hover .pricing-sum-wrapper {
  background-color: #008ed6;
  color: #fafafa;
}

.contact-block {
  background-color: #ededed;
  padding-top: 57px;
  height: 717px;
}
.contact-block h2 {
  margin-top: 11px;
  padding-bottom: 30px;
}
.contact-block p {
  margin-top: 26px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
}
.contact-block .row {
  column-gap: 35px;
  margin-top: 59px;
  text-align: center;
}
.contact-block .contact-form {
  padding: 59px 85px 40px 66px;
  position: relative;
  width: min-content;
  margin-left: 17.1%;
  margin-top: 53px;
  background-color: #15141a;
}
.contact-block .contact-form form {
  display: grid;
  grid-template-areas: "a d" "b d" "c d" "f f";
  grid-template-columns: 300px 319px;
}
.contact-block .contact-form form textarea {
  grid-area: d;
  margin-left: 19px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  resize: none;
  position: relative;
}
.contact-block .contact-form form textarea::placeholder {
  position: relative;
  top: 12px;
  padding-left: 17px;
  opacity: 0.2;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.contact-block .contact-form form [type=submit] {
  width: 160px;
  height: 50px;
  grid-area: f;
  margin-left: auto;
  margin-top: 21px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.contact-block .contact-form form [type=submit]:hover {
  background-color: #008ed6;
  border-color: transparent;
}
.contact-block .contact-form input:not([type=submit]) {
  height: 50px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: relative;
}
.contact-block .contact-form input:not([type=submit]):not(.no-margin) {
  margin-bottom: 20px;
}
.contact-block .contact-form input:not([type=submit])::placeholder {
  position: relative;
  top: -1px;
  padding-left: 14px;
  opacity: 0.2;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.map-block iframe {
  width: 100%;
  height: 370px;
  display: block;
}

footer {
  height: 160px;
  background-color: #15141a;
  text-align: center;
  padding-top: 41px;
}
footer .container {
  font-size: 14px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444348;
}
footer .container .social-links-row {
  margin-left: 40.59%;
  text-align: left;
  font-size: 18px;
  font-weight: 900;
}
footer .container .social-links-row .social-link {
  color: inherit;
  margin-right: 30px;
}
footer .container .social-links-row .social-link:hover {
  color: #008ed6;
}
footer .container .social-links-row .social-link:nth-child(1) {
  margin-right: 28px;
}
footer .container .social-links-row .social-link:nth-child(2) {
  margin-right: 28px;
}
footer .container .social-links-row .social-link:nth-child(3) {
  margin-right: 32px;
}
footer .container .social-links-row .social-link:nth-child(3) i::before {
  position: relative;
  top: -1px;
}
footer .container .social-links-row .social-link:nth-child(4) {
  margin-right: 33px;
}
footer .container .social-links-row .social-link:nth-child(4) i::before {
  position: relative;
  top: -2px;
}
footer .container .social-links-row .social-link:nth-child(5) {
  margin-right: 0;
  font-size: 20px;
}
footer .container p {
  margin-top: -5px;
}

@media (max-width: 1200px) {
  header .header-block .introduce .btn {
    margin-top: 20px;
  }
  header .header-block .header-pic img {
    text-align: left;
    width: 400px;
  }
}
@media (max-width: 992px) {
  header .header-block .header-pic img {
    display: none;
  }
  header .header-block .introduce {
    background-image: url(/img/devices.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
  header .header-block .introduce .btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  header .menu-icon {
    display: block;
    background-color: transparent;
    border: none;
  }
  header .nav-menu {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    position: fixed;
    height: 100%;
    width: 40%;
    top: 0;
    left: 100%;
  }
  header .nav-menu ul {
    position: relative;
    top: 25%;
    transform: translate(-50% -50%);
  }
  header .nav-menu ul li {
    display: block;
  }
}
@media (max-width: 576px) {
  header .header-block .introduce {
    background-position: bottom center;
    background-size: 70%;
  }
}

@media (max-width: 1200px) {
  .product-overview-block .features {
    row-gap: 30px;
  }
  .product-overview-block .features .features-item:nth-child(n) {
    padding: 0 25px;
  }
}

@media (max-width: 1200px) {
  .pricing-block .pricing-table {
    margin-left: 0px;
  }
  .pricing-block .pricing-table [class^=col] {
    padding: 0 20px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(1) {
    justify-content: flex-end;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(2) {
    justify-content: flex-start;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(3) {
    justify-content: flex-end;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(4) {
    justify-content: flex-start;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .pricing-block .pricing-table {
    margin-left: 0px;
  }
  .pricing-block .pricing-table [class^=col] {
    padding: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(1) {
    justify-content: center;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(2) {
    justify-content: center;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(3) {
    justify-content: center;
    padding-left: 0px;
  }
  .pricing-block .pricing-table [class^=col]:nth-child(4) {
    justify-content: center;
    padding-left: 0px;
  }
}

@media (max-width: 1200px) {
  .beautiful-block .image {
    display: flex;
  }
  .beautiful-block .image img {
    margin: auto auto;
    display: block;
    margin: auto;
    width: 400px;
  }
}
@media (max-width: 992px) {
  .beautiful-block .image img {
    width: 300px;
    display: block;
    margin: auto auto;
  }
}
@media (max-width: 576px) {
  .beautiful-block .image img {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .superez-block .image {
    display: flex;
  }
  .superez-block .image img {
    margin: auto auto;
    width: 500px;
    transform: rotate(-40deg) translate(-70px, -40px);
    transition: all 2s;
  }
}
@media (max-width: 998px) {
  .superez-block .image img {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .superez-block .image {
    order: -1;
  }
  .superez-block .image img {
    width: 400px;
    transform: none;
  }
  .superez-block .text {
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .superez-block .image img {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .ad-block .container p {
    flex-basis: 50%;
  }
  .ad-block .container p span:nth-child(2) {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .ad-block .container {
    text-align: center;
  }
  .ad-block .container p {
    flex-basis: 70%;
  }
  .ad-block .container p span:nth-child(2) {
    display: inline-block;
  }
  .ad-block .container .btn:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .ad-block .container {
    flex-wrap: wrap;
    padding: 20px 15px;
  }
  .ad-block .container p {
    flex-basis: 100%;
  }
  .ad-block .container .buttons {
    margin: 0 auto;
  }
  .ad-block .container .btn:first-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 353px) {
  .ad-block .container .btn:first-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  .contact-block .contact-form {
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 992px) {
  .contact-block .contact-form {
    position: static;
    width: 100%;
    margin: 0;
  }
  .contact-block .contact-form form {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 768px) {
  .contact-block .contact-form {
    padding: 15px;
  }
}

@media (max-width: 1200px) {
  footer .container .social-links-row {
    text-align: center;
    margin-left: 0;
  }
}