@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.row {
  margin: 0;
}

.col,
[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.container {
  padding: 0;
  max-width: 1170px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  color: #008ed6;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
  background-image: linear-gradient(to right, #008ed6 47%, transparent 47%, transparent 53%, #008ed6 53%);
  background-position: bottom;
  background-size: 42px 2px;
  background-repeat: no-repeat;
}

header {
  height: 640px;
  overflow: hidden;
}
header::after {
  height: 640px;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  opacity: 0.1;
  z-index: -1;
  background: url(/img/header_photo.png) no-repeat;
  background-size: cover;
}
header::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  opacity: 1;
  z-index: -2;
  background-color: #15141a;
  background-image: linear-gradient(135deg, rgba(21, 20, 26, 0.4) 19%, rgba(21, 20, 26, 0) 80%);
}
header .container {
  height: 640px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
header .nav-menu {
  text-align: right;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  color: #fffefe;
}
header .nav-menu ul {
  margin: 0;
  padding: 0;
}
header .nav-menu li {
  margin-left: 20px;
  list-style: none;
  display: inline;
  padding-bottom: 10px;
}
header .nav-menu li:hover {
  background-image: linear-gradient(to right, #008ed6 47%, transparent 47%, transparent 53%, #008ed6 53%);
  background-position: bottom;
  background-size: 42px 2px;
  background-repeat: no-repeat;
}
header .logo .ld {
  font-family: "Quicksand";
  font-size: 24px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
header .logo .ot {
  opacity: 0.3;
  font-size: 9px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #ffffff;
  display: inline-block;
  width: 50px;
}
header .header-block {
  margin-top: 43px;
  flex: 1 1 auto;
}
header .header-block .introduce h3 {
  margin-top: 38px;
  text-align: unset;
}
header .header-block .introduce h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 47px;
  margin-top: 24px;
}
header .header-block .introduce span {
  margin-top: 24px;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
}
header .header-block .introduce .btn {
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  height: 50px;
  margin-right: 17px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-block .introduce .btn:hover {
  background-color: #008ed6;
  box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}
header .header-block .header-pic {
  text-align: right;
}
header .header-block .header-pic img {
  margin-right: -14px;
  margin-top: 0px;
}

.product-overview-block {
  padding-bottom: 70px;
  border-bottom: 2px solid #ededed;
  padding-top: 62px;
}
.product-overview-block h2 {
  margin-top: 10px;
  padding-bottom: 37px;
}
.product-overview-block h2, .product-overview-block h3 {
  text-align: center;
}
.product-overview-block .features {
  margin-top: 73px;
  column-gap: 30px;
}
.product-overview-block .features .features-item {
  text-align: center;
}
.product-overview-block .features .features-item .features-img {
  position: relative;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}
.product-overview-block .features .features-item .features-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.product-overview-block .features .features-item p {
  margin-top: 34px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  color: #1a1a1a;
}
.product-overview-block .features .features-item span {
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  display: block;
  padding: 0 15px;
}