$p-text-color: #999999;
$h-text-color: #ffffff;
$black-text-color: #1b1b1b; 
$h3-default-color: #008ed6;
$h2-default-color: #1a1a1a;
//ad  
$ad-block-background: #15141a;
$ad-btn-background: rgba(0,142,214,0.0);
$ad-btn-border: rgba(255,255,255,0.2);
$ad-btn-hover: #008ed6;
$ad-btn-box-shadow: rgba(3,3,3,0.1);

//owl-dots
$owl-dot-box-shadow: rgba(255, 255, 255, 0.2);
$owl-dot-hover-color: #fff;

//contact
$contact-background-color: #ededed;
$contact-link-hover: blueviolet;

// contact-form
$contact-form-background-color: #15141a;
$contact-form-input-background: rgba(0,142,214,0.0);
$contact-form-input-border: rgba(255,255,255,0.2);
$contact-form-input-text-color: white;
$contact-form-submit-border: rgba(255,255,255,0.2);
$contact-form-submit-background: rgba(0,142,214,0.0);
$contact-form-submit-hover: #008ed6;

//"customize" block
$customize-background-color: #f2f2f2;

//footer
$footer-background-color: #15141a;
$footer-link-hover: #008ed6;
$footer-text-color: #444348;

//header
$header-background-color: #15141a;
$header-hamburger-color: #fff;
$nav-menu-links-color: #fffefe;
$nav-menu-hover-color: #008ed6;
$header-btn-background: rgba(0, 142, 214, 0); 
$header-btn-border: rgba(255, 255, 255, 0.2); 
$header-btn-hover: #008ed6; 
$header-btn-box-shadow: rgba(3, 3, 3, 0.1);

//pricing
$pricing-border: #e0e0e0;
$pricing-hover-color: #008ed6;
$pricing-btn-backroung: #ffffff;
$pricing-btn-border: #e0e0e0;
$pricing-btn-box-shadow: rgba(3,3,3,0.1);
$pricing-btn-hover-text-color: #fff;