header {
    @media (max-width: 1200px) {
        .container {
            .header-content {
                .welcome-section {
                    .btn {
                        margin-top: 20px;
                    }
                }
                .image-wrapper {
                    img {
                        text-align: left;
                        width: 400px;
                    }
                }
            }
        }
    }
    @media (max-width:992px) {
        .container {
            .header-content {
                .image-wrapper {
                    img {
                        display: none;
                    }
                }
                .welcome-section {
                    background: url(img/devices.png) no-repeat right top;
                    .btn {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .container {
            .header-top {
                .navigation {
                    .menu-button {
                        display: block;
                        background-color: transparent;
                        border: none;
                    }
                    .nav-menu {
                        z-index: 1;
                        background-color: rgba(#000000, 0.9);
                        text-align: center;
                        position: fixed;
                        height: 100%;
                        width: 40%;
                        top: 0;
                        left: 100%;
                        ul {
                            position: relative;
                            top: 25%;
                            transform: translate(-50% -50%);
                            li {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        .container {
            .header-top {
                .navigation {
                    .nav-menu {
                        width: 100%;
                    }
                }
            }
            .header-content {
                .welcome-section {
                    background-position: bottom center;
                    background-size: 70%;
                }
            }
        }
    }
}