.superez-block {
    @media (max-width: 1200px) {
        .image {
            display: flex;
            img {
                margin: auto auto;
                width: 500px;
                transform: rotate(-40deg) translate(-70px, -40px);
                transition: all 2s;
            }
        }     
    }
    @media (max-width: 998px) {
        .image {
            img {
                width: 400px;
            }
        }     
    }
    @media (max-width: 768px) {
        .image {
            order: -1;
            img {
                width: 400px;
                transform: none;
            }
        } 
        .text {
            margin-top: 40px;
        }    
    }
}