.ad-block {
    background-color: #15141a;
    .container {
        padding: 60px 0;
        height: 100%;
        display: flex;
        h4 {
            transform: translate(-1px, -2px);
            display: inline-block;
            font-size: 36px;
            line-height: 48px;
            color: #ffffff;
            margin: auto 0;
            margin-right: auto;
            span {
                &:nth-child(1) {
                    font-weight: 600;
                    letter-spacing: 0.07px;

                }
                &:nth-child(2) {
                    font-weight: 300;
                    letter-spacing: 0.04px;
                }
            }
        }
        .buttons {
            margin: auto 0;
            margin-left: auto;
            .btn {
                line-height: 48px;
                color: #ffffff;
                width: 160px;
                height: 50px;
                background-color: rgba(0,142,214,0.0);
                border: 1px solid rgba(255,255,255,0.2);
                &:hover {
                    background-color: #008ed6;
                    box-shadow: 0px 0px 3px 0px rgba(3,3,3,0.1);
                }
                &:first-child{
                    margin-right: 17px;
                }
            }
        }
    }
}
