.comments-block {
    background: url(img/prostokat.png) no-repeat;
    background-size: cover;
    .container {
        h2 {
            margin-top: 10px;
            color: $h-text-color;
            padding-bottom: 31px;
        }
        padding-top: 61px;
        padding-bottom: 48px;
        .owl-stage-outer {
            margin-top: 88px;
            min-height: 301px;
            .owl-item {
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
                color: $h-text-color;
                padding-right: 20px;
                .text {
                   font-style: italic;
                   margin-bottom: 22px;
                }
                .user {
                    display: flex;
                    align-items: center;
                    margin-left: 0px;
                    .user-avatar, .user-info-wrapper {
                        display: inline-block;
                        margin-right: 24px;
                    }
                    .user-info-wrapper {
                        height: 59px;
                    }
                    .user-name {
                        font-size: 16px;
                        font-weight: 400;
                        color: $h-text-color;
                    }
                    .user-position {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 22px;
    
                    }
                }
                p {
                    margin-bottom: 0;
                }

            }
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 2px $owl-dot-box-shadow;
                    border: 3px solid transparent;
                    background: none;
                    opacity: 1;
                    margin: 6px 8px;
                    &:hover {
                        background: $owl-dot-hover-color; 
                        border-color: $owl-dot-hover-color;
                    }
                }
                &.active {
                    span {
                        background: $owl-dot-hover-color; 
                        border-color: $owl-dot-hover-color;
                    }
                }
            }
        }
    }
}