.contact-block {
    background-color: $contact-background-color;
    padding-top: 57px;
    max-height: 717px;
    h2 {
        margin-top: 11px;
        padding-bottom: 30px;
    }
    p {
        margin-top: 26px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: $p-text-color;
    }
    .row {
        margin-top: 59px;
        text-align: center;
        row-gap: 20px;
        a {
            &:hover {
                color: $contact-link-hover;
            }
        }
        .contact-link-item  {
            &:first-child{
                padding-right: 20px;
                p {
                    padding-right: 5px;
                }
            }
            &:last-child{
                padding-top: 2px;
                padding-left: 18px;
                p {
                    margin-top: 31px;
                    margin-left: 1px;
                }
            }
        }
    }
    .container-form {
        margin-top: 53px;
        .contact-form {
            padding: 59px 85px 40px 66px;
            position: relative;
            width: min-content;
            margin: 0 auto;
            background-color: $contact-form-background-color;
            form {
                display: grid;
                grid-template-areas: 
                    "a d"
                    "b d"
                    "c d"
                    "f f";
                grid-template-columns: 300px 319px;
                font-size: 14px;
                input, textarea {
                    background-color: $contact-form-input-background;
                    border: 1px solid $contact-form-input-border;
                    color: $contact-form-input-text-color;
                    border-radius: 3px;
                    position: relative;
                    padding-top: 2px;
                    padding-left: 16px;
                    &::placeholder {
                        position: relative;
                        opacity: 0.2;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $h-text-color;
                    }
                }
                input {
                    height: 50px;
                    &:not(:last-of-type){
                        margin-bottom: 20px;
                    }
                    &::placeholder {
                        top: -1px;

                    }
                }
                textarea {
                    grid-area: d;
                    margin-left: 19px;
                    resize: none;
                    padding-left: 19px;
                    &::placeholder {
                        top: 12px;

                    }
                }
                [type="submit"] {
                    width: 160px;
                    height: 50px;
                    grid-area: f;
                    margin-left: auto;
                    margin-top: 21px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $h-text-color;
                    border: 1px solid $contact-form-submit-border;
                    background-color: $contact-form-submit-background;
                    &:hover {
                        background-color: $contact-form-submit-hover;
                        border-color: transparent;
                    }
        
                }
            }
        }
    }
}
