.about-block {
    .customize {
        background-color: $customize-background-color;
        padding-top: 33px;
        padding-bottom: 19px;
        .container {
            .image {
                text-align: left;
                padding-right: 0px;
                img {
                    margin-left: -17px;
                }
            }
            .text {
                margin-top: 95px;
                padding-left: 0px;
                h3 {
                    margin-top: 1px;
                    margin-bottom: 11px;
                }
                h2 {
                    padding-bottom: 29px;
                    letter-spacing: 0.08px;
                }
                p {
                    margin-top: 23px;
                    padding-right: 10px;
                    margin-bottom: 25px;
                    letter-spacing: 0.03px;
                }
            }
        }
    }
}