@use "mixins/child-selectors";
@use "mixins/icons";
footer {
    height: 160px;
    background-color: $footer-background-color;
    text-align: center;
    padding-top: 41px;
    .container {
        font-size: 14px;
        line-height: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: $footer-text-color;
        .social-links-row {
            margin-left: 40.59%;
            text-align: left;
            font-size: 18px;
            font-weight: 900;
            .social-link {
                color: inherit;
                margin-right: 30px;
                &:hover {
                    color: $footer-link-hover;
                }
                @include child-selectors.many-values(1, margin-right,
                    28px,
                    28px,
                    32px,
                    33px,
                    0px
                );
                &:nth-child(3){
                    i {
                        &::before {
                            position: relative;
                            top: -1px;
                        }
                    }
                }
                &:nth-child(4){
                    i {
                        &::before {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }
            [class^="icon"]{
                font-family: FontAwesome;
                font-style: normal;
            }
            @include icons.class-icons(
                $behance : "\f1b4",
                $dribble : "\f17d",
                $twitter : "\f099",
                $facebook : "\f39e",
                $linkedin : "\f0e1",
            );
        }
        p {
            margin-top: -5px;
        }
    }
}