@use "mixins/child-selectors";
.product-overview-block {
    padding-top: 62px;
    padding-bottom: 70px;
    border-bottom: 2px solid #ededed;
    .container {
        h2 {
            margin-top: 11px;
            padding-bottom: 36px;
            letter-spacing: 0.07px;
        }
        .features {
            margin-top: 73px;
            .item {
                padding-left: 30px;
                padding-right: 30px;
                text-align: center;
                letter-spacing: 0.02px;
                @include child-selectors.many-values(1, padding-left,
                19px,
                26px,
                34px,
                41px);
                @include child-selectors.many-values(1, padding-right,
                42px,
                34px,
                27px,
                19px);
                .image-wrapper {
                    position: relative;
                    margin: 0 auto;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    border: 1px solid #e0e0e0;
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin:auto;
                    }
                }
                p {
                    margin-top: 33px;
                    margin-bottom: 15px;
                    font-size: 24px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #1a1a1a;
            
                }
                span {
                    font-size: 18px;
                    line-height: 26px;
                    color: $p-text-color;
                    display: block;
                }
            }
        }
    }
}